//编写一个专门用于定义颜色的样式库

//设置一个背景色
.u-bg-green {
	background-color: #35a963; //背景颜色
}
.u-bg-green1 {
	background-color: #B3A9Bc; //背景颜色
}
.u-bg-green2 {
	background-color: #736D8F; //背景颜色
}
.u-bg-green3 {
	background-color: #93c7a1; //背景颜色
}
.u-bg-green4 {
	background-color: #4F7A5E; //背景颜色
}
.u-bg-green5 {
	background-color: #405348; //背景颜色
}

.u-bg-blue{
	background-color: #2fa4e7;
}

.u-bg-blue2{
	background-color: #0e80e5;
}

//设置一个灰色的背景色
.u-bg-gray {
	background-color: #F0F0F0; //背景颜色
}
//设置一个白色的背景色
.u-bg-white{
	background-color: white;
}

//字体白色
.u-font-white {
	color: white; //字体颜色 白色
}

//绿色的字体
.u-font-green{
	color: #35a963;
}

//绿色的字体
.u-font-black{
	color: #333;
}

.u-font-red{
	color: red;
}

.u-font-skyblue{
	color:skyblue
}

//字体灰色
.u-font-gray {
	color: #333; //字体颜色 灰色
}

.u-font-gray2 {
	color: #888; //字体颜色 灰色
}

.u-font-gray3 {
	color: #aaa; //字体颜色 灰色
}

.u-font-gray4 {
	color: #EEE; //字体颜色 灰色
}

.u-bg-gray1{
	background-color: #595959;
}

.u-bg-gray2{
	background-color: #7c7c7c;
}

.u-bg-gray3{
	background-color: #9a9491;
}

.u-bg-gray4{
	background-color: #EAEAEA;
}

/**
 * 马卡龙色
 */
.u-bg-maka1{
	background-color: #B699dd;
}

.u-bg-maka2{
	background-color: #d3bfe4;
}

.u-bg-maka3{
	background-color: #9ba915;
}

.u-bg-maka-g{
	background-image: linear-gradient(to top right, #d3bfe477, #F9E8B877);
}

.u-bg-maka-g2{
	background-image: linear-gradient(to bottom left, #B699dd, #d3bfe4);
}

.u-bg-maka-g3{
	background-image: linear-gradient(to top left, #B699dd, #d3bfe4);
}

/**
 * 莫兰迪色
 */
.u-bg-malandy1{
	background-color: #9e9e9e33;
}

.u-bg-malandy2{
	background-color: #acc9b533;
}

.u-bg-malandy3{
	background-color: #F4c587aa;
}

.u-bg-malandy-g1{
	background-image: linear-gradient(to top right, #5fb47a00, #ffffffbb);
}

.u-bg-malandy-g2{
	background-image: linear-gradient(to bottom left,#000022d4,#77778e96);
}

.u-bg-malandy-g3{
	background-image: linear-gradient(to top left, #769A8088, #acc9b533);
}
.u-bg-malandy-g3{
	background-image: linear-gradient(to bottom, #769A8088, #acc9b533);
}
